
.side
  .header
    .box
      .user-name
        sample-user-name
      .menu
        .new-group
          %i.fa.fa-edit
          
        .edit-account
          %i.fa.fa-cog
  .group
    .name
      sample-group-name1
    .latest-message
      sample-latest-messsage1
  .group
    .name
      sample-group-name2
    .latest-message
      sample-latest-messsage2