* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side {
  width: 300px;
  background-color:#2f3e51;

  .header{
    height: 100px;
    width: 300px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .box{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      .user-name{
        color: #ffffff;
      }
      .menu{
        display: flex;
        list-style: none;
        .new-group{
          margin-right: 5px;
          font-size: 13px;
        }
        .edit-account{
          font-size: 13px;
        }
        .icon{
          color: #ffffff;
        }
      }
    }
  }

  @mixin name {
    font-size: 15px;
    color: #ffffff;
    padding-top: 20px ;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  @mixin last-message {
    font-size: 11px;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  .middle{
    .group {
      height: 96px;
      width: 300px;
      background-color:none;
      .name{
        @include name;
      }
      .last-message{
        @include last-message;
      }
    }
  }
}

.main {
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
  .header {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    .left-box{
      height: 100px;
      margin-left: 40px;
      background-color: none;
      .current-group{
        font-size: 20px;
        padding-top: 35px;
      }
      .member-list{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
        display: flex;
        .list{
          font-size: 12px;
          color: #999999;
          padding-left: 15px;
          }
      }
    }
    .right-box{
      height: 40px;
      width: 72px;
      margin-right: 40px;
      margin-top: 28px;
      border: 1px solid;
      border-color: #38afe0 ;
      background-color: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .edit-btn{
        font-size: 16px;
        color: #38afe0 ;
      }
    }
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message{
        color: #434a54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  .form{
    // margin-top: 20px;
    // margin-bottom: 20px;
    // margin-left: 40px;
    // display: flex;
    // justify-content: space-between;
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    .new_message{
      display: flex;
      .box{
        position: relative;
        width: 100%;
        .form__message{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        .form__mask__image{
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          .icon{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
          }
          .hidden{
            display: none;
          }
        }
      }
    }
    .submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }
  }
}